form {
    width: 800px;
    margin: auto;
}

.form-element * {
    display: inline;
}

form div.inbox {
    padding: 40px;
}

textarea {
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    margin: auto;
}

.block {
    display: block;
    width: 100%;
}

.form-element {
    margin-top: 40px;
}

button {
    display: block;
    margin: 48px auto;
}

form + p {
    text-align: center;
}

label {
    margin-right: 32px;
}

select, 
textarea {
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    padding: 2px 8px;
}